.wrapper
  =render "shared/left"
  .point
    .point__top
      pointへ入室
    .point__box
      .point__box__outside
        .point__box__outside__left
          =@area.name
        .point__box__outside__right
          .point__box__outside__right__content
            - @point.each do |point|
              -if @area.id == point.area_id 
                = form_with model: @point, local: true, url: area_point_messages_path  do |f|
                  .point__box__outside__right__content
                    - f.submit class: 'point__box__outside__right__content__btn' do
                    = point.name 
                      %br
  =render "shared/right"
