.main
  .main__top
  .main__message
    .main__message__list
      a
    .main__message__list
      i
    .main__message__list
      i
    .main__message__list
      i
    .main__message__list
      i