.main
  .main__top
    = image_tag asset_path('logo.png'),class: "no1"
  .main__message
    .tab-panel
      %ul.tab-group
        %li.tab.tab-A.is-active
          大磯
        %li.tab.tab-B
          吉浜
        %li.tab.tab-C
          辻堂
        %li.tab.tab-D
          茅ヶ崎
        %li.tab.tab-E
          パーク
      .panel-group
        .panel.tab-A.is-show
          大磯の波情報
        .panel.tab-B
          吉浜の波情報
        .panel.tab-C
          辻堂の波情報
        .panel.tab-D
          茅ヶ崎の波情報
        .panel.tab-E
          パークの波情報


