.right
  .right__top
    .right__top__left
      %input{  placeholder: '検索', id: "search"}
      #result__area
    .right__top__right
      = icon('fas', 'search', class: "right__top__right__icon")
      
  .right__chart
    %canvas#chart{:height => "300px", :width => "300px"}
  
      
