.wrapper
  =render "shared/left"
  .area
    .area__top
      point検索
    .area__box
      .area__box__outside
        .area__box__outside__left
          北海道
        .area__box__outside__right
          .area__box__outside__right__content
            = link_to "道南エリア" 
            道南エリア
          .area__box__outside__right__content
            道北エリア
      .area__box__outside
        .area__box__outside__left
          青森
        .area__box__outside__right
          .area__box__outside__right__content
            十和田/三沢エリア
          .area__box__outside__right__content
            八戸エリア
      .area__box__outside
        .area__box__outside__left
          岩手
        .area__box__outside__right
          .area__box__outside__right__content
            県北エリア
          .area__box__outside__right__content
            沿岸エリア
      .area__box__outside
        .area__box__outside__left
          秋田
        .area__box__outside__right
          .area__box__outside__right__content
            秋田/由利エリア
      .area__box__outside
        .area__box__outside__left
          宮城
        .area__box__outside__right
          .area__box__outside__right__content
            三陸エリア
          .area__box__outside__right__content
            仙台エリア
      .area__box__outside
        .area__box__outside__left
          山形
        .area__box__outside__right
          .area__box__outside__right__content
            庄内エリア
      .area__box__outside
        .area__box__outside__left
          新潟
        .area__box__outside__right
          .area__box__outside__right__content
            下越エリア
          .area__box__outside__right__content
            新潟周辺エリア
          .area__box__outside__right__content
            中越エリア
          .area__box__outside__right__content
            上越エリア
      .area__box__outside
        .area__box__outside__left
          石川
        .area__box__outside__right
          .area__box__outside__right__content
            能登エリア
          .area__box__outside__right__content
            加賀エリア
      .area__box__outside
        .area__box__outside__left
          福島
        .area__box__outside__right
          .area__box__outside__right__content
            相双エリア
          .area__box__outside__right__content
            いわきエリア
      .area__box__outside
        .area__box__outside__left
          茨城
        .area__box__outside__right
          .area__box__outside__right__content
            県北エリア
          .area__box__outside__right__content
            県央エリア
          .area__box__outside__right__content
            鹿行エリア
      .area__box__outside
        .area__box__outside__left
          千葉
        .area__box__outside__right
          .area__box__outside__right__content
            千葉北エリア
          .area__box__outside__right__content
            千葉南エリア
      .area__box__outside
        .area__box__outside__left
          神奈川
        .area__box__outside__right
          .area__box__outside__right__content
            湘南エリア
          .area__box__outside__right__content
            西湘エリア
      .area__box__outside
        .area__box__outside__left
          静岡
        .area__box__outside__right
          .area__box__outside__right__content
            伊豆エリア
          .area__box__outside__right__content
            新島エリア
          .area__box__outside__right__content
            大島エリア
          .area__box__outside__right__content
            静波/御前崎エリア
          .area__box__outside__right__content
            磐田/浜松エリア
      .area__box__outside
        .area__box__outside__left
          愛知
        .area__box__outside__right
          .area__box__outside__right__content
            伊良湖エリア
      .area__box__outside
        .area__box__outside__left
          和歌山
        .area__box__outside__right
          .area__box__outside__right__content
            磯ノ浦エリア
          .area__box__outside__right__content
            南紀エリア
          .area__box__outside__right__content
            伊勢エリア
      .area__box__outside
        .area__box__outside__left
          福井
        .area__box__outside__right
          .area__box__outside__right__content
            福井エリア
      .area__box__outside
        .area__box__outside__left
          福井
        .area__box__outside__right
          .area__box__outside__right__content
            福井エリア
      .area__box__outside
        .area__box__outside__left
          福井
        .area__box__outside__right
          .area__box__outside__right__content
            福井エリア
      .area__box__outside
        .area__box__outside__left
          高知
        .area__box__outside__right
          .area__box__outside__right__content
            高知エリア
      .area__box__outside
        .area__box__outside__left
          徳島
        .area__box__outside__right
          .area__box__outside__right__content
            徳島エリア
      .area__box__outside
        .area__box__outside__left
          島根
        .area__box__outside__right
          .area__box__outside__right__content
            島根エリア
      .area__box__outside
        .area__box__outside__left
          鳥取
        .area__box__outside__right
          .area__box__outside__right__content
            鳥取エリア
      .area__box__outside
        .area__box__outside__left
          宮崎
        .area__box__outside__right
          .area__box__outside__right__content
            北部エリア
          .area__box__outside__right__content
            南部エリア
      .area__box__outside
        .area__box__outside__left
          鹿児島
        .area__box__outside__right
          .area__box__outside__right__content
            鹿児島エリア
      .area__box__outside
        .area__box__outside__left
          熊本
        .area__box__outside__right
          .area__box__outside__right__content
            熊本エリア
      .area__box__outside
        .area__box__outside__left
          佐賀
        .area__box__outside__right
          .area__box__outside__right__content
            佐賀エリア
      .area__box__outside
        .area__box__outside__left
          福岡
        .area__box__outside__right
          .area__box__outside__right__content
            福岡エリア
      .area__box__outside
        .area__box__outside__left
          沖縄
        .area__box__outside__right
          .area__box__outside__right__content
            沖縄エリア
          
 
    
     
    
  =render "shared/right"
      
