.wrapper
  =render "shared/left"
  .map
    .map__top
    #map-container_lg
    .map__box
      .map__box__top
        都道府県
      .map__box__name
        
    .map__box
      .map__box__top
        地域
      .map__box__name
    .map__box
      .map__box__top
        ポイント
      .map__box__name
    
     
    
  =render "shared/right"
      
