.wrapper
  =render "shared/left"
  .prefecture-main
    
    .prefecture-main__name
      県名
      .prefecture-main__name__pref
        〜地方
        %ul{class: ".prefecture-main__name__pref__box"}
          %li{class: ".prefecture-main__name__pref__box__point"}
            ポイント一覧
    


  =render "shared/right"