.wrapper
  =render "shared/left"
  .prefecture-main
    .main__top
    .prefecture-main__name
      県名
      .prefecture-main__name__pref
        〜地方
        %ul.prefecture-main__name__pref__box
          %li.prefecture-main__name__pref__box__point
            ポイント一覧
    


  =render "shared/right"