.nav-unshown {
  display:none;
}
// -------------------------------
// pc
// -------------------------------

  .wrapper{
    width:100%;
    height:100vh;
    background-color:#05051a;
    color:#d8dfe6;
    display: flex;
    justify-content: center;
    // position:relative;

    .left{
    
    width: 170px;
    min-width: 170px;
    height:100vh;
    background-color:#0a0a33;

    #nav-content{

      .nav-name{
        margin:auto;
        font-size:20px;
        margin-top: 50px;
        text-decoration: none;
        text-align:center;
        
      
        a{
          display:block;
          margin:10px;
          width: 150px;
        }

        .level0{
          margin-bottom:25px;
          width: 100%;
          position: relative;
         
          &:hover {
            position:relative;
            bottom: 2px;
            left:2px;
            color:#ff6347;
            
          }
          &:hover{
            
            .level1{
              visibility: visible;
              opacity: 0.8;
              transition: 0.3s ;
              
            }
          }

          .level1{
            width: 110px;
            height: 100%;
            position: fixed;
            top: 0;
            left: 170px;
            bottom:0;
            overflow: scroll;
            background-color: #1c4ee6;
            z-index:10;
            visibility: hidden;
            opacity: 0;
            transition-delay: 0.2s;
            
            .level2{
              height:30px;
              line-height:30px;
              width:100px;
              margin:5px;
              font-size: 14px;
              color:#d8dfe6;

              &:hover {
                position:relative;
                bottom: 2px;
                left:2px;
                color:#ff6347;
              }

              &:hover{
                .level3{
                  visibility: visible;
                  opacity: 1.0;
                  transition: 0.3s;
                  
                }
              }

              .level3{
                width: 120px;
                height: 100%;
                position: fixed;
                top: 0;
                left: 280px;
                bottom:0;
                overflow: scroll;
                background-color: #1c4ee6;
                font-size:14px;
                z-index:10;
                color:#d8dfe6;
                visibility: hidden;
                opacity: 0;
                transition-delay: 0.2s;

                .level4{
                  height:30px;
                  line-height:30px;
                  margin:5px;
                  font-size: 12px;
                  color:#d8dfe6;
                  &:hover {
                    position:relative;
                    bottom: 2px;
                    left:2px;
                    color:#ff6347;
                   
                  }
                  &:hover{
                    .level5{
                      visibility: visible;
                      opacity: 1.0;
                      transition: 0.3s;  
                      
                    }
                  }

                  .level5{
                    width: 100px;
                    height: 100%;
                    position: fixed;
                    top: 0;
                    left: 400px;
                    bottom:0;
                    overflow: scroll;
                    background-color: #1c4ee6;
                    font-size:14px;
                    z-index:10;
                    color:#d8dfe6;
                    visibility: hidden;
                    opacity: 0;
                    transition-delay: 0.2s;

                    .level6{
                      height:auto;
                      line-height:auto;
                      margin:3px;
                      font-size: 14px;
                      color:#d8dfe6;
                      &:hover {
                        position:relative;
                        bottom: 2px;
                        left:2px;
                        color:#ff6347;
                        
                      }
                      
                    }
                  }
                }
              }
            }
            
          }
        
        }
       
        
          a{
            text-decoration: none;
            color:#d8dfe6;
            display: inline-flex;
            line-height: 30px;

            i{
              line-height: 25px;
              margin-right:10px;
            }
          }
        }
      }
    }
    .main{
    width: 50%;
    height:100vh;
    overflow: scroll;
      &__top{
        background-color:green ;
        height:50px;
        width:100%;
      }
      &__message{
        padding-top:50px;
        height:100%;
        background-color:blue;
        &__list{
          
          height:8%;
          width:100%;
          overflow: scroll;
        }
      }
    }
    .right{
      width: 40%;
      height:100vh;
      background-color:#0a0a33;
      padding:0 10px;
      border-left:1px #d8dfe65e solid;

      &__top{
        height:50px;
        background-color:black;
        border-radius: 100px;
        line-height: 50px;
        padding-left:20px;
        padding-right:20px;
        display: flex;
        justify-content: center;
        border: 1px solid #d8dfe6;
        &__left{
          width:90%;
          height:100%;
          background-color:whitel
        }
        &__right{
          width:10%;
          height:100%;
          
          &__icon{
            color:white;
            cursor:pointer;
          }
        }
      }
      &__chart{
        margin-top: 20px;
        height: 100px;
        border: 1px solid #d8dfe6;
      }
    }
  }

// -------------------------------
// タブレット
// -------------------------------
@include md {
  .wrapper{
    width:100%;
    height:100vh;
    background-color:#05051a;
    color:#d8dfe6;
    display: flex;
    justify-content: center;

    .left{
    
      width: 10%;
      min-width: 80px;
      height:100vh;
      background-color:#0a0a33;
  
        ul{
          margin:0 auto;
          font-size:20px;
          margin-top: 50px;
          text-decoration: none;
          text-align:center;
          
  
          li{
            margin-bottom:25px;
            width: 100%;
  
            a{
              text-decoration: none;
              color:#d8dfe6;
              font-size:15px;
              display: inline;
              i{
                font-size:20px;
                margin:0px;
              }
            }
            #none{
              font-size:10px;
              height: 10px;
              line-height: 10px;
            }
          }
        }
      }

    .main{
    width: 45%;
  
    height:100vh;
    // position:absolute;
    overflow: scroll;
    // left:27%;

      &__top{
        background-color:green ;
        height:50px;
        width:100%;
      }
      &__message{
        padding-top:50px;
        height:100%;
        background-color:blue;
        &__list{
          
          height:8%;
          width:100%;
          overflow: scroll;
        }
      }
    }
    .right{
      width: 45%;
      height:100vh;
      background-color:#0a0a33;
      padding:0 10px;
      border-left:1px #d8dfe65e solid;

      &__top{
        height:50px;
        background-color:black;
        border-radius: 100px;
        line-height: 50px;
        padding-left:20px;
        padding-right:20px;
        display: flex;
        justify-content: center;
        border: 1px solid #d8dfe6;
        &__left{
          width:90%;
          height:100%;
          background-color:whitel
        }
        &__right{
          width:10%;
          height:100%;
          
          &__icon{
            color:white;
            cursor:pointer;
          }
        }
      }
      &__chart{
        margin-top: 20px;
        height: 100px;
        border: 1px solid #d8dfe6;
      }
    }
  }
}
// -------------------------------
// スマホ
// -------------------------------
@include sm{
  .wrapper{
    width:100%;
    height:100vh;
    background-color:#05051a;
    color:#d8dfe6;
    // display: flex;
    // justify-content: center;

    .left{
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width:10%;
      min-width:65px;
        ul li{ 
        margin-bottom:15px;
        a{
          font-size:12px;
        }
        #none{
          font-size:8px;
          height: 10px;
          line-height: 10px;
        }
      }
    }
    .main{
    width: 90%;
    z-index: 5;
    height:100vh;
    // position:absolute;
    overflow: scroll;
    // left:27%;

      &__top{
        background-color:green ;
        height:50px;
        width:100%;
      }
      &__message{
        padding-top:50px;
        height:100%;
        background-color:blue;
        &__list{
          
          height:8%;
          width:100%;
          overflow: scroll;
        }
      }
    }
    .right{
      display: none;
    }
  }
}