*{
  margin: 0px;
  padding: 0px;
  }
  
.wrapper{
  width:100%;
  height:100vh;
  background-color:#05051a;
  color:#d8dfe6;
  display: flex;
  justify-content: center;
  position:relative;
 


  .left{
  width: 17%;
  height:100vh;
  background-color:#0a0a33;
  position:fixed;
  border-right:1px #d8dfe65e solid;
  left:10%;

  
    ul{
      margin-left:10px;
      font-size:25px;
      margin-left: 50px;
      margin-top: 50px;
      text-decoration: none;
      li{
        margin-bottom:15px;
       
        a{
          text-decoration: none;
          color:#d8dfe6;
        }
      }

      
    }
  }
  .main{
  width: 53%;
  height:100vh;
  position:absolute;
  overflow: scroll;
  left:27%;
    &__top{
      background-color:green ;
      height:50px;
      width:53%;
      position:fixed;
    }
    &__message{
      padding-top:50px;
      height:100%;
      background-color:blue;
      &__list{
        
        height:8%;
        width:100%;
        overflow: scroll;
      }
    }
  }
  .right{
    width: 17%;
    height:100vh;
    background-color:#0a0a33;
    position:absolute;
    left:78%;
    position:fixed;
    padding: 10px;
    border-left:1px #d8dfe65e solid;

    &__top{
      height:50px;
      background-color:black;
      border-radius: 100px;
      line-height: 50px;
      padding-left:20px;
      padding-right:20px;
      display: flex;
      justify-content: center;
      border: 1px solid #d8dfe6;
      &__left{
        width:90%;
        height:100%;
        background-color:whitel
      }
      &__right{
        width:10%;
        height:100%;
        
        &__icon{
          color:white;
          cursor:pointer;
        }
      }
    }
    &__chart{
      margin-top: 20px;
      height: 100px;
      border: 1px solid #d8dfe6;
    }
  }
}
