  .map{
    width:45%;
    // min-width:600px;
    height: 100vh;
    // display:flex;
    &__top{
      // height:50px;
      // width:100%;
      // background-color: gray;
    }
    
      #map-container_lg{
        canvas{
          display: block;
          margin: 0px auto;
          margin-top: 50px;
        }
        @include md{display:none}
        @include sm{display:none}
      
      }

  }
