.nav-unshown {
  display:none;
}
// -------------------------------
// pc
// -------------------------------

  .wrapper{
    z-index:1;
    width:100%;
    height:100vh;
    
    background-color:#05051a;
    color:#d8dfe6;
    display: flex;
    justify-content: center;
    position:relative;

    .left{
      width:10%;
      min-width: 170px;
      font-size:10px;
      height:100vh;
      background-color:#0a0a33;

    #nav-content{
      a{
        display:block;
        .no1{
          height:80px;
          width:100%;
          margin:auto;
        }
      }
      
      
      .nav-name{
        margin:auto;
        font-size:20px;
        text-decoration: none;
        text-align:center;
        
      
        a{
          display:block;
          margin:10px;
          width: 150px;
        }

        .level0{
          margin-bottom:25px;
          width: 100%;
          position: relative;
         
          &:hover {
            position:relative;
            bottom: 2px;
            left:2px;
            color:#ff6347;
            
          }
          &:hover{
            
            .level1{
              visibility: visible;
              opacity: 0.8;
              transition: 0.3s ;
              
            }
          }

          .level1{
            width: 110px;
            height: 100%;
            position: fixed;
            top: 0;
            left: 170px;
            bottom:0;
            overflow: scroll;
            background-color: #1c4ee6;
            z-index:10;
            visibility: hidden;
            opacity: 0;
            transition-delay: 0.2s;
            
            .level2{
              height:30px;
              line-height:30px;
              width:100px;
              margin:5px;
              font-size: 14px;
              color:#d8dfe6;

              &:hover {
                position:relative;
                bottom: 2px;
                left:2px;
                color:#ff6347;
              }

              &:hover{
                .level3{
                  visibility: visible;
                  opacity: 1.0;
                  transition: 0.3s;
                  
                }
              }

              .level3{
                width: 120px;
                height: 100%;
                position: fixed;
                top: 0;
                left: 280px;
                bottom:0;
                overflow: scroll;
                background-color: #1c4ee6;
                font-size:14px;
                z-index:10;
                color:#d8dfe6;
                visibility: hidden;
                opacity: 0;
                transition-delay: 0.2s;

                .level4{
                  height:30px;
                  line-height:30px;
                  margin:5px;
                  font-size: 12px;
                  color:#d8dfe6;
                  &:hover {
                    position:relative;
                    bottom: 2px;
                    left:2px;
                    color:#ff6347;
                   
                  }
                  &:hover{
                    .level5{
                      visibility: visible;
                      opacity: 1.0;
                      transition: 0.3s;  
                      
                    }
                  }

                  .level5{
                    width: 100px;
                    height: 100%;
                    position: fixed;
                    top: 0;
                    left: 400px;
                    bottom:0;
                    overflow: scroll;
                    background-color: #1c4ee6;
                    font-size:14px;
                    z-index:10;
                    color:#d8dfe6;
                    visibility: hidden;
                    opacity: 0;
                    transition-delay: 0.2s;

                    .level6{
                      height:auto;
                      line-height:auto;
                      margin:3px;
                      font-size: 14px;
                      color:#d8dfe6;
                      &:hover {
                        position:relative;
                        bottom: 2px;
                        left:2px;
                        color:#ff6347;
                        
                      }
                      
                    }
                  }
                }
              }
            }
            
          }
        
        }
       
        
          a{
            text-decoration: none;
            color:#d8dfe6;
            display: inline-flex;
            line-height: 30px;

            i{
              line-height: 25px;
              margin-right:10px;
            }
          }
        }
      }
    }
    .main{
      width: 50%;
      height:100vh;
     
      &__top{
        .no1{
          display:none;
        }
        
      }
      &__message{
        height:calc(100% - 13px);
        width:calc(100% - 12px);
        padding:5px;
        list-style:none;
        border:solid 1px #ccc;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        text-align:centr;
        // cursor:pointer;
        background-color:#0a0a33;
        text-align: center;

        &__area{
          overflow: scroll;
          height:calc(100vh - 35px);
          &__box{
            padding:0 5px;
            height:auto;
            border:solid 1px #ccc;
            border-radius: 10px;
            margin-bottom: 5px;
            &__top{
              display:flex;
              justify-content: center;
              align-items: center;
              height:auto;

              &__left{
                width:65px;
                height:65px;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                  border:solid 1px #ccc;
                  border-radius:50%;
                  width:60px;
                  height:60px;
                }
                

              }
              &__right{
                width:100%;
                height:80px;
                // margin-left:10px;
                padding:5px;
                &__top{
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                 
                  &__name{
                    padding-left:10px;
                    font-size: 22px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &__style{
                      padding-left:15px;
                      font-size: 15px;
                      color: gray;
                      #local{
                        color: #ff6347;;
                      }
                      #visit{
                        color: gray;
                      }
                    }
                  }
                  &__time{
                    
                    font-size: 15px;
                    color: gray;
                  }
                }
                &__bottom{
                  width: 100%;
                  height:auto;
                  // max-height:100px;
                  text-align: left;
                  padding-left:20px;
                }
              }
            }
            &__bottom{
              width: 100%;
              height:auto;
              img{
                margin:10px;
                border-radius: 10px;
                  width:calc(100% - 20px);
                
              }
            }
          }
        }
      }
    }

    .right{
      width: 30%;
      height:calc(100vh - 20px);
      background-color:rgb(10, 10, 51);
      padding:10px 10px;
      // border-left:1px #d8dfe65e solid;
      position: relative;

      &__top{
        height:50px;
        background-color:black;
        border-radius: 100px;
        line-height: 50px;
        padding-left:20px;
        padding-right:20px;
        display: flex;
        justify-content: center;
        border: 1px solid #d8dfe6;
        &__left{
          width:100%;
          height:50px;
          #search{
            color:white;
            background-color:black;
            padding:3px;
            width:90%;
            height:44px;
            border-style: none;
            font-size:16px;
            
          }
            #result__area{
              position: absolute;
              z-index:999;
              overflow: scroll;
              width:260px;
              .result{
                .result__name{
                  
                  height:30px;
                  width:100%;
                  color:black;
                  background-color:white;
                 
                  border-bottom:1px solid gray;
                  line-height: 30px;
                  
                }
                
              }
            }
          
        }
        &__right{
          width:10%;
          height:100%;
          &__icon{
            color:white;
            cursor:pointer;
          }
        }
      }
      &__chart{
        position: absolute;
        margin-top: 20px;
        width:350px;
        height: 350px;
        border: 1px solid #d8dfe6;
        z-index:1;
        .chartjs-size-monitor{
          canvas{
            width:400px;
            z-index:1;
            #chart{
              z-index:1;
            }
          }
        }
      }
    }
  }

// -------------------------------
// タブレット
// -------------------------------
@include md {
  .wrapper{
    width:100%;
    height:100vh;
    background-color:#05051a;
    color:#d8dfe6;
    display: flex;
    justify-content: center;

    .left{
      display: flex;
      justify-content: center;
      width:10%;
      min-width: 80px;
      font-size:10px;
      height:100vh;
      background-color:#0a0a33;
      #nav-content{
        width:10%;
        min-width: 80px;
        a{
          .no1{
            height:50px;
            width:100%;
            padding-left: 5px;
          }
        }
        

        .nav-name{
          // margin:auto;
          font-size:10px;
          text-decoration: none;
          text-align:center;
        
          .level0{
            margin-bottom:10px;
            width:10%;
            min-width: 80px;
  
            a{
              text-decoration: none;
              color:#d8dfe6;
              font-size:15px;
              display: inline-block;
              width:10%;
              min-width: 80px;
              margin:10px 0;
              i{
                font-size:20px;
                margin:0px;
              }
              #none{
                font-size:10px;
                height: 10px;
                line-height: 10px;
              }
            }
            
          }
        }
      }
    }

    .main{
    width: 45%;
    min-width: 300px;
    height:100vh;
    // overflow: scroll;
   

      &__top{
        width:100%;
      }
      &__message{
        &__list{
          
          height:8%;
          width:100%;
          overflow: scroll;
        }
        #imagesize{
          width:calc(100% - 20px);
        }
      }
    }
    .right{
      width: 45%;
      height:100vh;
      background-color:#0a0a33;
      padding:0 10px;
      border-left:1px #d8dfe65e solid;

      &__top{
        height:50px;
        background-color:black;
        border-radius: 100px;
        line-height: 50px;
        padding-left:20px;
        padding-right:20px;
        display: flex;
        justify-content: center;
        border: 1px solid #d8dfe6;
        &__left{
          width:90%;
          height:100%;
          background-color:whitel
        }
        &__right{
          width:10%;
          height:100%;
          
          &__icon{
            color:white;
            cursor:pointer;
          }
        }
      }
      &__chart{
        margin-top: 20px;
        height: 100px;
        border: 1px solid #d8dfe6;
      }
    }
  }
}
// -------------------------------
// スマホ
// -------------------------------
@include sm{
  .wrapper{
    width:100%;
    height:100vh;
    background-color:#05051a;
    color:#d8dfe6;
    // display: flex;
    // justify-content: center;

    .left{
      
      position:absolute;
      z-index:10;
      bottom:0px;
      left:0px;
      right:0px;
      height:60px;
      width:100%;

      #nav-content {
        width: 100%;
        height: 100%;
        background-color:#1c4ee6;
        a{
          .no1{
            display:none;
          }
        }
        .nav-name{
          margin:0 auto;
          width:100%;
          min-width: 320px;
          font-size:20px;
          text-decoration: none;
          text-align:center;
          display:block;
          justify-content: space-between;
          height:60px;

          .level0{
            // width:18%;
            // height:65px;
            min-width: 55px;
            display: inline;
            a{
              width: 18%;
              min-width: 55px;
              margin:10px 0;
              font-size: 13px;
            }
            
            .level1{
              width:100%;
              // margin:10px 0;
              
            }
            &:hover{
              position:relative;
              bottom: 0px;
              left:0px;
              .level1{
                visibility: hidden;
                opacity: 0;
              }
            }
          }
        }
      }
    
    }
    .main{
    width: 100%;
    min-width: 200px;
    z-index: 5;
    height:100vh;
    overflow: scroll;
    
      &__top{
        height:50px;
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .no1{
          display:block;
          height:45px;
          width:70%;
          
        }
      }
      &__message{
        height:auto;
        min-height:calc(100% - 112px);
        padding:0 0 60px 0;
        margin:0px auto;
        &__area{
          height:100%;
          overflow: visible;
          &__list{
            
            height:8%;
            width:100%;
            
          }
        }
        
      }
    }
    .right{
      display: none;
      &__icon{
        
      }
    }
  }
}